<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>The Wizard Challenge</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  </head>
  <style>
    body {
      font-size: larger;
    }
    form {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 40px auto;
      width: 40%;
    }
    span {
      margin: 10px;
    }
  </style>
  <body>
    <div id="wizard">
      <form @submit.prevent="getFormValues">
        <span>
          <label >Project Name:</label>
          <input class="form-control" type='text' name='projectName'/>
        </span>
        <span class='dropdown'>
          <label>File Format:</label>
          <select v-on:change='onChangeFile($event)'>
            <option :value='null'></option>
            <option v-for='fileOption in outputOptions'>{{fileOption}}</option>
          </select>
        </span>
        <span>
          <label >Display Width</label>
          <input class="form-control" type="text" name='displayWidth'/>
        </span>
        <span>
          <label>Display Height</label>
          <input class="form-control" type="text" name='displayHeight'/>
        </span>
        <span>
          <label>Color Options:</label>
          <select v-on:change='onChangeColor($event)'>
            <option :value='null'></option>
            <option v-for='colorOption in colorOptions'>{{colorOption}}</option>
          </select>
        </span>
        <span v-for='index in textFields' :key='index'>
          <label>Text {{index}}</label>
          <input class="form-control" type="text" v-on:blur='appendToArr($event)'/>
        </span>
        <input class="btn btn-primary" type="submit" value="Submit">
        <!-- <input type='submit'/> -->
      </form>
    </div>
    <script>
      new Vue({
        el: "#wizard",
        data() {
          return {
            templateId: 0,
            selectedFileOption: '',
            selectedColorOption: '',
            outputOptions: null,
            colorOptions: null,
            textFields: null,
            userTextFields: []
          }
        },
        methods: {
          onChangeFile(e) {
            selectedFileOption = e.target.options[e.target.options.selectedIndex].text;
          },
          onChangeColor(e) {
            selectedColorOption = e.target.options[e.target.options.selectedIndex].text;
          },
          appendToArr(e) {
            if (e.target.value !== '') {
              this.userTextFields.push(e.target.value);
            }
          },
          getFormValues (submitEvent) {
            this.templateId++;
            let obj = {
              'projectName': submitEvent.target.elements.projectName.value,
              'templateId': this.templateId,
              'displayWidth': submitEvent.target.elements.displayWidth.value,
              'displayHeight': submitEvent.target.elements.displayHeight.value,
              'textFields': this.userTextFields,
              'colors': selectedColorOption,
              'output': selectedFileOption
            };
            console.log(obj);
          }
        },
        mounted() {
          axios.get('https://hoazygo0r9.execute-api.us-west-2.amazonaws.com/default/wizard-test')
            .then((response) => {
              this.outputOptions = response.data.outputOptions;
              this.colorOptions = response.data.colorOptions;
              this.textFields = response.data.numberOfTextFields;
            })
            .catch(function (error) {
              console.log(error);
            });
        },
        created() {
          console.log("Ready!");
        }
      });
    </script>
  </body>
</html>
